.btn-play:hover{
	box-shadow: 0px 0px 0px;
	color: #00C412;
}

em.p-play{
	display: inline-block;
	background: rgba(255,255,255,.075);
	padding: 1%;
	border-radius: 5px;
}

.play-group{
	position: relative;
	bottom: 110px;
	left: 30px;

}

.num-play{
	background-color: rgba(255,255,255,.075);
	padding: 5px;
}

.server-a{
	background-color: #00A510;
	max-width: 25%;
	height: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: relative;
	bottom: 185px;
	left: 70%;
}

.s-play{
	font-size: 25px;
	color: white;
	position: relative;
	top: 1px;
	left: 7%;
}

.server-b{
	background-color: #333333;
	max-width: 25%;
	height: 45px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: relative;
	bottom: 185px;
	left: 70%;
}

.server-maintenance{
	color: white;
	position: relative;
	top: 10px;
	left: 15%;
}

@media screen and (min-width: 1024px){
	.server{
		visibility: visible;
	}
	.play{
		background-color: #00A510;
		max-width: 65%;
		height: 85px;
		border-radius: 5px;
		position: relative;
		bottom: 100px;
		left: 25px;
	}
	.p-play{
		color: white;
		font-size: 25px;
		position: relative;
		top: 22.5px;
	    left: 25px;
    }
    .btn-play{
		background-color: white;
		color: #00A510;
		border-radius: 5px;
		font-size: 30px;
		padding: 1%;
		padding-left: 2%;
		padding-right: 2%;
		position: absolute;
		left: 80%;
		bottom: 14%;
		box-shadow: 0px 2px 0px #141414;
		transition: 0.5s ease;
		text-transform: uppercase;
		font-weight: 700;
    }    
}

@media screen and (max-width: 1023px){
	.server{
		visibility: hidden;
	}
	.play{
		background-color: #00A510;
		max-width: 90%;
		height: 350px;
		border-radius: 5px;
		position: relative;
		bottom: 75px;
		left: 50px;
	}
	.p-play{
		color: white;
		font-size: 75px;
		position: relative;
		top: 22.5px;
		left: 25px;
    }
    .btn-play{
		background-color: white;
		color: #00A510;
		border-radius: 5px;
		font-size: 40px;
		padding: 2%;
		padding-left: 3%;
		padding-right: 3%;
		position: absolute;
		left: 45%;
		bottom: 7%;
		box-shadow: 0px 2px 0px #141414;
		transition: 0.5s ease;
		text-transform: uppercase;
		font-weight: 700;
    }
}