.play{
	background-color: #00A510;
	max-width: 65%;
	height: 85px;
	border-radius: 5px;
	position: relative;
	bottom: 100px;
	left: 25px;
}

.title-play{
	color: white;
	padding-left: 7%;
	position: absolute;
	bottom: 2.5%;
	font-size: 50px;
	display: inline-block;
	font-size: 17px;
}

.btn-play{
	background-color: white;
	color: #00A510;
	border-radius: 5px;
	font-size: 30px;
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
	position: relative;
	left: 82%;
	top: 22px;
	box-shadow: 0px 2px 0px #141414;
	transition: 0.5s ease;
	text-transform: uppercase;
	font-weight: 700;
}

.btn-play:hover{
	box-shadow: 0px 0px 0px;
	color: #00C412;
}

em.p-play{
	display: inline-block;
	background: rgba(255,255,255,.075);
	padding: 1%;
	border-radius: 5px;
}

.play-group{
	position: relative;
	bottom: 110px;
	left: 30px;

}

@media (max-width: 700px), (min-width: 900px) and (max-width: 1000px){
	.play {
		flex-direction: column;
	}
}