.menu-btn{
	padding: 2%;
}

.btn_a{
	margin-right: 15px;
}

.menu-bars{
	padding: 30px;
}

.btn_item{
	color: white;
	margin-right: 45px;
	padding-top: 10px;
	cursor: pointer;
}

.btn_item:hover{
	color: white;;
	background-color: transparent;
}

.menu-arrow{
	color: #4a4a4a;
}

header{
	background: url("../img/background.png") no-repeat bottom center/cover;
	min-height: 625px;
}

.header-logo{
	background: url("../img/banner.png") no-repeat bottom center/cover;
}


.navbar{
	font-weight: 300;
	position: absolute;
	top: 0; right: 0; left: 0;
}

.nav-menu{
	background: transparent;
	font-weight: 300;
	position: absolute;
	top: 0; right: 0; left: 0;
}

.item{
	color: white;
	font-size: 20.5px;
	cursor: pointer;
	padding-right: 20px;
}

.item:hover{
	color: white;
}

body{
	background: #141414;
}