.menu-btn{
	padding: 2%;
}

.header-img{
	background-color: white;
}

.btn_a{
	margin-right: 15px;
}

.menu-bars{
	padding: 30px;
	box-shadow: 0px 1px 0px;
}

.btn_item{
	color: #4a4a4a;
	margin-right: 45px;
	padding-top: 10px;
	cursor: pointer;
}

.btn_item:hover{
	color: #3273dc;
	background-color: transparent;
}

.menu-arrow{
	color: #4a4a4a;
}

.header-background{
	background: url("../img/background.png");
	max-width: 100%;
	height: auto;
	padding-bottom: 35%;
}

.banner-logo{
	position: relative;
	top: -435px;
}