.menu-btn{
	padding: 2%;
}

.btn_a{
	margin-right: 15px;
}

.menu-bars{
	padding: 30px;
}

.btn_item{
	color: white;
	/*margin-right: 45px;*/
	padding-top: 2.8%;
	margin-bottom: 15%;
	cursor: pointer;
	font-size: 20px;
	padding: 6px;
}

.btn_item:hover{
	color: #00A810;
}

.menu-arrow{
	color: #4a4a4a;
}

header{
	background: url("../img/background.png") no-repeat bottom center/cover;
	min-height: 625px;
}

.header-logo{
	position: relative;
	top: 150px;
}

.navbar{
	font-weight: 300;
	position: absolute;
	top: 0; right: 0; left: 0;
}

.nav-menu{
	background: transparent;
	font-weight: 300;
	position: absolute;
	top: 0; right: 0; left: 0;
}

.item{
	color: white;
	font-size: 20.5px;
	cursor: pointer;
	padding-right: 20px;
	display: block;
}

.item:hover{
	color: white;
}

body{
	background: #141414;
}

@media screen and (max-width: 1023px){
	.navbar-menu {
    	background-color: #333333;
    	min-height: 2250px;
    	margin-top: -150px;
    	padding-top: 20%;
    	visibility: hidden;
	}
	.navbar-menu.is-active {
    	background-color: #333333;
	}

	.item{
		font-size: 65px;
		padding-bottom: 10px;
	}

	.navbar-item{
		color: white;
	}

	.menu-arrow{
		color: white;
	}

	.btn_item{
		font-size: 65px;
	}

	.title-menu{
		color: #00A810;
		position: absolute;
		top: 50px;
		left: 30px;
		font-size: 70px;
	}

	.bars-icon{
        position: relative;
        padding: 25px;
        color: white;
        visibility: visible;
	}

	.x-icon{
		position: relative;
		color: white;
		left: 77.5%;
		visibility: hidden;
	}
}
@media screen and (min-width: 1024px){
	.title-menu{
		visibility: hidden;
	}

	.bars-icon{
		visibility: hidden;
	}

	.x-icon{
		visibility: hidden;
	}

	.menu-bars{
		position: absolute;
	}
	.drop-item{
		color: gray;
	}

	.navbar-menu{
		visibility: visible;
	}

	.btn-shop{
		background: linear-gradient(15deg, rgba(15,234,23,1) 0%, rgba(0,168,16,1) 100%);
		background-size: 100% 100%;
		padding: 2px 5px;
		margin-left: 850px;
		padding: 15px;
		border-radius: 15px;
		padding-left: 5%;
		padding-right: 5%;
	}

	.btn_item{
		box-shadow: 0px 0px 1px 1px rgba(250, 250, 250, 0.35);
		border-radius: 7px;
		background: white;
		background-color: rgba(250, 250, 250, 0.35);
	}

	.btn_item:hover{
		color: #00A810;
		background-color: rgba(250, 250, 250, 0.5);
	}
}
