.menu-nav{
	background-color: #595959;
	box-shadow: 0px 2px 0px;
	margin: 0;
	padding: 10px;
}

.btn_a{
	text-decoration: none;
	display: inline-block;
	color: white;
	background-color: green;
	background-size: 25px;
	border-radius: 5px;
}

.btn_li{
	list-style-type: none;
	display: inline-block;
	margin-left: 10px;
}



@media (max-width: 1250px){
	.menu-nav{
		width: 1000px;
		font-size: 10px;
	}
	.header-img{
		background-image: url("../ressources/img/background.png");
	}
}