body{
	background-color: #333336;
}

.menu-nav{
	background-color: transparent;
	margin: 0;
	padding: 10px;
	position: relative;
	left: 25px;
}

.btn_button:hover{
	background: none;
	background-color: #00DD28;
}

.btn_button:hover{
	transition: 0.5s ease;
	background-color: #00DD28;
}

@media (max-width: 850px){
	.menu-nav{
		width: 1000px;
		font-size: 10px;
	}

	.img_banner{
		width: auto;
		height: auto;
	}

	.header-img{
		background-image: url("../img/background.png");
		padding: -50px 25px;
		background-repeat: repeat-x;
		opacity: 0.7;
	}

	.div-left{
		position: relative;
		left: 250px;
	}
	#menu-bars{
		opacity: 1;
		top: 25px;
	}

	.btn_a{
		text-decoration: none;
		display: inline-block;
		color: white;
		font-size: 20px;
		position: relative;
		top: -30px;
		opacity: 0;
	}

	.btn_li{
		list-style-type: none;
		display: inline-block;
		margin-left: 10px;
		opacity: 0;
	}

	.btn_button{
		background: linear-gradient(45deg,#00DD28 0%,#00DD28 55%,#059920 85%);
	    background-position: 100% 0;
	    background-size: 200% 100%;
		padding: 0 25px;
	    color: #fff;
	    line-height: 51px;
	    text-shadow: 0 2px 1px rgb(0 0 0 / 10%);
	    text-transform: uppercase;
	    border-radius: 30px;
	    border: 0;
	    font-size: 15px;
	    transition: all 0.5s ease;
	    background-color: #00DD28;
	    opacity: 0;
	}
}


body, html{
	margin: 0;
	padding: 0;
	font-family: poppins,sans-serif;
}

@media (max-width: 1000px){
	#menu-bars{
		opacity: 1;
	}
	.img_banner{
		position: relative;
		width: 250px;
		height: 100px;
		top: -25px;
		right: auto;

	}

	.header-img{
		background-image: url("../img/background.png");
		padding: -50px auto;
		background-repeat: repeat-x;
		opacity: 0.7;
	}

	.btn_a{
		text-decoration: none;
		display: inline-block;
		color: white;
		font-size: 20px;
		position: relative;
		top: -30px;
		opacity: 0;
	}

	.btn_li{
		list-style-type: none;
		display: inline-block;
		margin-left: 10px;
		opacity: 0;
	}

	.btn_button{
		background: linear-gradient(45deg,#00DD28 0%,#00DD28 55%,#059920 85%);
	    background-position: 100% 0;
	    background-size: 200% 100%;
		padding: 0 25px;
	    color: #fff;
	    line-height: 51px;
	    text-shadow: 0 2px 1px rgb(0 0 0 / 10%);
	    text-transform: uppercase;
	    border-radius: 30px;
	    border: 0;
	    font-size: 15px;
	    transition: all 0.5s ease;
	    background-color: #00DD28;
	    opacity: 0;
	}

}

.header-img{
	background-image: url("../img/background.png");
	padding: -50px auto;
	background-repeat: repeat-x;
	opacity: 1;
}

.img_banner{
	position: relative;
	width: 850px;
	height: 450px;
	top: -85px;
	left: auto;
}

.btn_a{
	text-decoration: none;
	display: inline-block;
	color: white;
	font-size: 20px;
	position: relative;
	top: -30px;
	visibility: initial;
}

.btn_li{
	list-style-type: none;
	display: inline-block;
	margin-left: 10px;
	visibility: initial;
}

.btn_button{
	background: linear-gradient(45deg,#00DD28 0%,#00DD28 55%,#059920 85%);
    background-position: 100% 0;
    background-size: 200% 100%;
	padding: 0 25px;
    color: #fff;
    line-height: 51px;
    text-shadow: 0 2px 1px rgb(0 0 0 / 10%);
    text-transform: uppercase;
    border-radius: 30px;
    border: 0;
    font-size: 15px;
    transition: all 0.5s ease;
    background-color: #00DD28;
    visibility: initial;
}