body{
	background-color: #333336;
}

.menu-nav{
	background-color: transparent;
	margin: 0;
	padding: 20px;
	position: relative;
	right: 10%;
}

.btn_button:hover{
	background: none;
	background-color: #00DD28;
	cursor: pointer;
}

.btn_button:hover{
	transition: 0.5s ease;
	background-color: #00DD28;
	cursor: pointer;
}

@media (max-width: 850px){
	.menu-nav{
		width: 1000px;
		font-size: 10px;
	}

	.header-img{
		background: url("../img/background.png");
		padding: 1% 10%;
		background-repeat: repeat-x;
		opacity: 1;
    }

    .header_logo{
		background: url("../img/theme_logo.png") repeat-x;
		position: relative;
		width: 850px;
		height: 450px;
		top: 2px;
		left: 15%;
    }

	#menu-bars{
		opacity: 1;
		top: 15px;
		font-size: 50px;
	}

	.btn_a{
		text-decoration: none;
		display: inline-block;
		color: white;
		font-size: 20px;
		position: relative;
		top: -30px;
	}

	.btn_button{
		background: linear-gradient(45deg,#00DD28 0%,#00DD28 55%,#059920 85%);
	    background-position: 100% 0;
	    background-size: 200% 100%;
		padding: 0 25px;
	    color: #fff;
	    line-height: 51px;
	    text-shadow: 0 2px 1px rgb(0 0 0 / 10%);
	    text-transform: uppercase;
	    border-radius: 30px;
	    border: 0;
	    font-size: 15px;
	    transition: all 0.5s ease;
	    background-color: #00DD28;
	    cursor: pointer;
	}
	#menu{
		visibility: hidden;
		width: 25px;
		height: 5px;
	}

	#btnmenuclose{
		font-size: 50px;
	}
}


body, html{
	margin: 0;
	padding: 0;
	font-family: poppins,sans-serif;
}

@media (max-width: 1000px){
	#menu-bars{
		opacity: 1;
	}
	.header-img{
		background: url("../img/background.png");
		padding: 1% 10%;
		background-repeat: repeat-x;
		opacity: 1;
    }

    .header_logo{
		background: url("../img/theme_logo.png") repeat-x;
		position: relative;
		width: 850px;
		height: 450px;
		top: 2px;
		left: 30%;
    }

	.btn_a{
		text-decoration: none;
		display: block;
		color: white;
		font-size: 15px;
		position: relative;
		top: -30px;
	}

	.btn_button{
		background: linear-gradient(45deg,#00DD28 0%,#00DD28 55%,#059920 85%);
	    background-position: 100% 0;
	    background-size: 200% 100%;
		padding: 0 25px;
	    color: #fff;
	    line-height: 51px;
	    text-shadow: 0 2px 1px rgb(0 0 0 / 10%);
	    text-transform: uppercase;
	    border-radius: 30px;
	    border: 0;
	    font-size: 15px;
	    transition: all 0.5s ease;
	    background-color: #00DD28;
	    cursor: pointer;
	}

	#menu{
		visibility: hidden;
		width: 25px;
		height: 5px;
		background-color: #141414;
	}

	#btnmenuclose{
		font-size: 50px;
	}
}
@media (max-width: 12560){
	#menu-bars{
		opacity: 0;
	}

	.header-img{
		background: url("../img/background.png");
		padding: 1% 5%;
		background-repeat: repeat-x;
		opacity: 1;
	}

	.header_logo{
		background: url("../img/theme_logo.png") repeat-x;
		position: relative;
		width: 850px;
		height: 450px;
		top: 2px;
		left: 15%;
	}

	.btn_a{
		margin-right: 14px;
		text-decoration: none;
		display: inline-block;
		color: white;
		font-size: 20px;
		position: relative;
		top: -30px;
		visibility: visible;
	}

	.btn_button{
		background: linear-gradient(45deg,#00DD28 0%,#00DD28 55%,#059920 85%);
		background-position: 100% 0;
		background-size: 200% 100%;
		padding: 0 25px;
		color: #fff;
		line-height: 51px;
		text-shadow: 0 2px 1px rgb(0 0 0 / 10%);
		text-transform: uppercase;
		border-radius: 30px;
		border: 0;
		font-size: 15px;
		transition: all 0.5s ease;
		background-color: #00DD28;
		visibility: visible;
		cursor: pointer;
	}

	#menu{
		visibility: visible;
	}

	#btnmenuclose{
	}
}
