#profile{
    background-color: #333333;
    width: 20%;
    height: 45%;
    visibility: hidden;
    box-shadow: gray 0px -10px 0px;
    position: relative;
    bottom: 450px;
    left: 70%;
}

.link-profile{
    color: rgba(255,255,255,.8);
    display: block;
    position: relative;
    left: 1%;
    font-size: 20px;
    top: 20%;
}

.link-profile:hover{
    box-shadow: gray -3px 0px 0px;
}

.iconclose-profile{
    cursor: pointer;
    color: #ADADAD;
    box-shadow: none;
    text-transform: uppercase;
    position: relative;
    left: 88%;
}

.iconclose-profile:hover{
    color: white;
    cursor: pointer;
}

.profile-first-link{
    position: relative;
    bottom: 315px;
    left: 70%;
    background-color: rgba(250, 250, 250, .35);
    border-radius: 5px;
    padding: 1%;
}

.profile-first-link:hover{
    transition: 0.35s ease;
    background-color: rgba(250, 250, 250, .5);
}